<div class="card">
    <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Ref</th>
        <th>Sender Bank</th>
        <th>Sender Branch</th>
        <th>Sender Account</th>
        <th>Revceiver Bank</th>
        <th>Receiver Branch</th>
        <th>Receiver Account</th>
        <th>Effective</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let tx of transactions">
        <td>{{tx.Record.orgRefNumber}}</td>
        <td>{{tx.Record.sendingBankCode}}</td>
        <td>{{tx.Record.sendingBranchCode}}</td>
        <td>{{tx.Record.sendingBankAccNum}}</td>
        <td>{{tx.Record.receivingBankCode}}</td>
        <td>{{tx.Record.receivingBranchCode}}</td>
        <td>{{tx.Record.receivingBankAccNum}}</td>
        <td>{{tx.Record.effectiveTransferDate}}</td>
        <td>{{formattingAmount(tx.Record.transferAmount)}}</td>
        <td><span class="badge" [ngClass]="{'badge-primary': tx.Record.status ==='NEW', 'badge-success': tx.Record.status === 'PROPOSED'}">{{tx.Record.status}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
