<mat-card class="info-card">
  <mat-card-title>Information</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>account_balance</mat-icon>
        <h2 matLine><b>{{bankName}}   </b><span class="badge badge-primary">{{bankId}}</span></h2>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>call</mat-icon>
        <h3 matLine>{{tel}}</h3>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon>email</mat-icon>
        <h3 matLine>{{email}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>