<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <a href="#" class="navbar-brand"><h3>{{bankName}}</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-md-5">
      <div class="nav-item ml-md-5" style="color: #fff;">
        <a routerLink="/" class="nav-link mr-2 active"><i class="fas fa-home fa-2x"></i>Dashboard</a>
        
      </div>
      
      <div class="nav-item ml-md-5" style="color: #fff;">  
        <a routerLink="/outclearing" class="nav-link mr-2"><i class="fas fa-upload fa-2x"></i>Out Clearing</a>
      </div>
      
    </div>
  </div>
</nav>
