<mat-card>
  <mat-card-title>
    <h5>Net Positions</h5>
  </mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="bankName">
        <mat-header-cell *matHeaderCellDef>Bank Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bankName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bankCode">
        <mat-header-cell *matHeaderCellDef>Bank Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bankId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="net">
        <mat-header-cell *matHeaderCellDef>Net Position</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-list>
              <mat-chip selected="true" color="{{getChipColor(element.position)}}">{{element.position | number}}</mat-chip>
          </mat-chip-list>
          
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  </mat-card-content>
</mat-card>
