<mat-card>
  <mat-card-title>Transaction Status</mat-card-title>
  <mat-card-content>

      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="sampleData"
        [view]="view"
        label="Transactions">
      </ngx-charts-advanced-pie-chart>

  </mat-card-content>
</mat-card>

