<div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
  <div class="drop-container-txt">
      <h3>Drag &amp; Drop FT10 file here.</h3>
  </div> 
</div>
