.drop-container {
    height: 100%;
    border: 2px dashed #aaaaaa;
    border-radius: 10px;
    color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;


}

.drop-container-txt {
    width: 60%;
    margin: auto auto;
    text-align: center;
}