<div class="card">
  <div class="card-header">
    <h3>Out Clearing Summary</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Sending Bank Code: <span>{{senderBankCode}}</span></h5>
    <h5 class="card-text">Batch# <span>{{batchNumber}}</span></h5>
    <p class="card-text">Number of Transactions: <span>{{numTxs}}</span></p>
    <p class="card-text">Total Amount: <span>{{totAmt}}</span></p>
    <button #submitBtn class="btn btn-primary" (click)="submitTransactions()">Submit</button>
  </div>
</div>
