<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md-6">
      <out-clearing-uploader (onTransactions)="onTransactions($event)"></out-clearing-uploader>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="primary" (click)='populateTransaction()'>Populate Transactions</button>
    </div>
  </div>

  <div class="row" *ngIf="!isShowUpload()">
    <div class="col-md-6">
      <out-clearing-summary total-amount="{{getAmount()}}" 
        transactions-count="{{getNumberTxs()}}"
        batch-number="{{getBatchNumber()}}"
        sender-bank-code="{{getSenderBankCode()}}"
        (onSubmit)="onSubmit()"></out-clearing-summary>
    </div>

    <div class="col-md-6">
      <circle-progress
        [percent]="getCompletedPercent()"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="false" 
        ></circle-progress>
    </div>
  </div>

  <div class="row" *ngIf="!isShowUpload()">
    <div class="col-md-12">
      <out-clearing-table [transactions]="transactions"></out-clearing-table>
    </div>
  </div>
</div>
