<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-6 col-xl-3 my-3">
      <bank-info></bank-info>
    </div>
    
    <div class="col-md-12 col-lg-6 col-xl-3 my-3">
      <net-positions></net-positions>
    </div>

    <div class="col-xl-6 col-md-12 col-lg-12 my-3">
     <transaction-status-chart></transaction-status-chart>
    </div>

  </div>
  <div class="row my-2">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Out Clearing">
          <mat-card>
            <mat-card-content>
                <outgoing-transactions></outgoing-transactions>
            </mat-card-content>
          </mat-card>
          
        </mat-tab>

        <mat-tab label="In Clearing">
          <mat-card>
            <mat-card-content>
                <incoming-transactions></incoming-transactions>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
