<div class="container-fullwidth">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <app-header></app-header>
    </div>
  </div>

  <!-- Content -->
  <div class="row my-2">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>