<mat-card>
  <mat-card-title>
    <h4>Incoming Transactions</h4>
  </mat-card-title>

  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ref">
          <mat-header-cell *matHeaderCellDef>Ref</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Record.orgRefNumber}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="recvBranch">
          <mat-header-cell *matHeaderCellDef>Receiver Branch</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Record.receivingBranchCode}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="recvAccNum">
          <mat-header-cell *matHeaderCellDef>Receiver Acc</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Record.receivingBankAccNum}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="sndBank">
          <mat-header-cell *matHeaderCellDef>Sender Bank</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Record.sendingBankCode}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="sndBranch">
          <mat-header-cell *matHeaderCellDef>Sender Branch</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Record.sendingBranchCode}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="sndAccNum">
          <mat-header-cell *matHeaderCellDef>Sender Acc</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Record.sendingBankAccNum}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Record.transferAmount | number}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-chip-list>
                <mat-chip selected="true" color="{{getChipColor(element.Record.status)}}">{{element.Record.status}}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
  
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
  
      <mat-paginator #paginator
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          [showFirstLastButtons]="true">
      </mat-paginator>
  </mat-card-content>
  <mat-card-actions *ngIf="isSelected()">
    <button mat-raised-button color="primary" (click)='approveTransaction()'>APPROVE</button>
    <button mat-raised-button color="warn" (click)='rejectTransaction()'>REJECT</button>
  </mat-card-actions>
</mat-card>

