<table class="table table-responsive" data-pagination="true"
  data-page-list="[20, 30, 50, 100, ALL]"
  data-page-size="20">
  <thead class="thead-dark">
    <tr>
      <th>Ref</th>
      <th>Recv Bank</th>
      <th>Recv Branch</th>
      <th>Recv Acc</th>
      <th>Effective</th>
      <th>Amount</th>
      <th>Sender Branch</th>
      <th>Sender Acc</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tx of transactions">
      <td>{{tx.transaction.originRef}}</td>
      <td>{{tx.transaction.receiverBankCode}}</td>
      <td>{{tx.transaction.receiverBranchCode}}</td>
      <td>{{tx.transaction.receiverAccountNumber}}</td>
      <td>{{tx.transaction.effective}}</td>
      <td>{{formattingAmount(tx.transaction.amount)}}</td>
      <td>{{tx.transaction.senderBranchCode}}</td>
      <td>{{tx.transaction.senderAccountNumber}}</td>
      <td><span class="badge" [ngClass]="{'badge-primary': tx.status ==='NEW', 'badge-success': tx.status === 'PROPOSED'}">{{tx.status}}</span></td>
    </tr>
  </tbody>
</table>